<link rel="stylesheet" href="/assets/stylesheets/index.css">

<main class="">
    <!--Start of section 2-->

    <div class="container-fluid introduce-section py-5 py-sm-4">
        <div class=" container pb-sm-3">
            <div class="row text-center text-sm-start ">
                <div class="col-md-10 col-lg-6">
                    <p class="display-2 mb-lg-3 fw-lighter">TechShare is a place to write, read, and
                        connect</p>
                    <p class="fs-5 fw-light">
                        It's easy and free to post your thinking on any topic and connect with millions of readers.
                        <a href="#" class="text-dark fw-normal">Learn More</a>
                    </p>
                    <a href="#" class="fs-5 my-3 btn rounded-pill border border-dark">Start Writing</a>
                </div>
                <div class="col d-none d-lg-block text-center">
                    <img class="img-fluid pt-3" width="80%" src="#" alt="" loading="lazy">
                </div>
            </div>
        </div>
    </div>
    <!-- End of Section 2 -->

    <!--Section 3 starts here-->
    <div class="container py-5">

        <p>
            <i class="far fa-check-circle"></i>
            <strong>TRENDING ON MEDIUM</strong>
        </p>

        <div class="row">
            <div class="col-md-6 col-lg-4 d-flex mb-3">
                <div class="px-2 text-secondary fs-3 fw-bold">01</div>
                <div class="p-2">
                    <div>
                        <img loading="lazy" class="rounded rounded-circle" src="images/DevonPrice_1DevonPrice.png"
                            alt="" width="20">
                        <small>
                            <a class="text-dark fw-bold text-decoration-none" href="#">Frank Andrade</a> in
                            <a class="text-dark fw-bold text-decoration-none" href="#">Towards Data Science</a>
                        </small>
                    </div>
                    <div class="pt-2 fs-6 fw-bold">
                        <a href="#" class="text-dark text-decoration-none">
                            6 Python Projects You Can Finish in a Weekend
                        </a>
                    </div>
                    <small>June 14. 9 min read</small>
                </div>
            </div>

        </div>

    </div>
    <!--Section 3 ends here-->
    <!--Section 4-->
    <div class="container px-0">

        <div class="row m-auto">
            <div id="auto-post" class="col-lg-8 order-2 order-lg-1">
                <p class="my-0">
                    <i class="far fa-check-circle"></i>
                    <strong>NEW ON MEDIUM</strong>
                </p>
                {{#each newPost}}
                <div class="row py-4 px-2">
                    <div class="col-sm-7">
                        <div class="d-flex align-items-center">
                            <img class="rounded" src="{{this.author.avatarUrl}}" alt="" width="25" loading="lazy">
                            <small class="ms-2">
                                <a class="text-dark fw-bold text-decoration-none" href="#">{{this.author.fullname}}</a>
                                {{!-- <a class="text-dark fw-bold text-decoration-none" href="#">Predict</a> --}}
                            </small>
                        </div>
                        <div class="pt-2">

                            <a href="/post/view/{{this._id}}" class="fs-5 fw-bold text-dark text-decoration-none">
                                {{{this.heading}}}
                            </a><br />
                            {{!-- <small class="d-block text-truncate" style="max-width: 100%; max-height: 20px">
                                {{{this.content}}}
                            </small> --}}
                        </div>
                        <div class="post-info">
                            {{momentDay createdAt}} - <i>{{momentRelative createdAt}}</i> - 6 min read -
                            <a href="#" class="text-dark text-decoration-underline"
                                title="{{this.topic.[vi-description]}}">{{this.topic.name}}</a>
                            <button class="text-dark btn mx-2">
                                <i class="far fa-bookmark"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <a href="/post/view/{{this._id}}">
                            <img class="rounded" width="100%" src="{{this.thumnail}}" alt="" loading="lazy">
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>

            <div class="col-lg-4 order-1 order-lg-2 bg-light">
                <div class="sticky-lg-top py-2">
                    <div class="fs-5">
                        DISCOVER MORE OF WHAT MATTERS TO YOU
                    </div>
                    <div class="py-3">
                        {{#each topics}}
                        <a href="#" class="btn rounded-pill btn-warning m-1">{{{this.name}}}</a>

                        {{/each}}

                    </div>
                </div>
            </div>
        </div>

    </div>

</main>
<!--Section 1-->